@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html {
  scroll-behavior: smooth;
}

/* globals.css or a CSS module */
.testimonial-card {
  @apply rounded-xl shadow-md p-6 mx-auto transition-all duration-300;
}

/* Active centered slide */
.swiper-slide-active .testimonial-card {
  @apply bg-secondary1;
}

/* Slides adjacent to the center */
.swiper-slide-prev .testimonial-card,
.swiper-slide-next .testimonial-card {
  @apply bg-secondary4 opacity-70 scale-95;
}

/* Optional: dim further slides */
.swiper-slide:not(.swiper-slide-active):not(.swiper-slide-prev):not(
    .swiper-slide-next
  )
  .testimonial-card {
  @apply bg-gray-100 opacity-50 scale-90;
}

body {
  width: 100dvw;
  overflow-x: hidden;
  font-family: "Amaranth", sans-serif;
}

@theme {
  --font-dafoe: "Mr Dafoe", sans-serif;
  --font-amaranth: "Amaranth", sans-serif;

  --color-primary1: oklch(62.45% 0.222 29.5);
  --color-primary2: oklch(69.7% 0.228 29.7);
  --color-primary3: oklch(74.5% 0.23 30);
  --color-primary4: oklch(82.4% 0.155 29.8);

  --color-secondary1: oklch(80.5% 0.204 83.5);
  --color-secondary2: oklch(82% 0.198 83.5);
  --color-secondary3: oklch(84.9% 0.181 83.8);
  --color-secondary4: oklch(89.8% 0.115 84);

  --color-neutral: oklch(97.9% 0.005 100);
}

@layer base {
  img {
    @apply block max-w-full;
  }
}

@layer utilities {
  /* Start of Typography */
  .main-heading {
    @apply text-center text-[2rem] leading-[1.89994rem] md:text-[3rem] md:leading-[2.91563rem] lg:text-[4.75rem] lg:leading-[5rem] font-normal text-primary1;
  }
  .sub-heading {
    @apply text-[1.5rem] md:text-[2.75rem] lg:text-[4.375rem] leading-normal font-normal text-secondary1;
  }
  .sub-heading2 {
    @apply text-[1.25rem] md:text-[2.5rem] lg:text-[3rem] leading-normal font-normal text-secondary2;
  }
  .pizza-name {
    @apply text-[0.5rem]  md:text-[1.2rem]  lg:text-[1.5rem] leading-normal font-normal text-primary1;
  }
  .pizza-price {
    @apply text-[0.42575rem] md:text-[0.62769rem] lg:text-[1.125rem] leading-normal font-normal text-neutral;
  }
  .offer-text {
    @apply text-[1.56769rem] leading-[1.5rem] md:text-[1.75rem] md:leading-[2.5rem] lg:text-[3.25rem] lg:leading-[3.5rem] font-normal text-neutral;
  }

  .px {
    @apply md:pl-16 md:pr-16 pl-6 pr-6;
  }

  .my {
    @apply mt-14 mb-14;
  }

  .logo-img {
    @apply md:w-[200px] w-[150px];
  }
  .sub-heading-art {
    @apply lg:w-[3.86238rem] lg:h-[3.4375rem] md:w-[3.01781rem] md:h-[2.68756rem] w-[1.441rem] h-[1.2825rem];
  }
  /* Start with buttons */
  .btn-primary {
    @apply bg-secondary3 pt-[0.625rem] pb-[0.625rem] pl-[1.5rem] pr-[1.5rem] text-[0.75rem] leading-[0.70681rem] md:text-[1.25rem] md:leading-[1.5rem] lg:text-[1.5rem] lg:leading-[1.5rem]  text-[#000] font-amaranth font-normal rounded-[0.75rem] transition duration-300 ease-in-out hover:bg-[#ea9a3f];
  }

  .nav-hover {
    @apply text-lg bg-transparent hover:bg-yellow-400 transition duration-300 ease-in-out rounded-xl px-4 py-[0.3rem];
  }
  .bg-cube-grid {
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='210' viewBox='10 10 180 210' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,10 190,60 100,110 10,60' fill='none' stroke='lightgray' stroke-width='2'/%3E%3Cpolygon points='10,60 100,110 100,220 10,170' fill='none' stroke='lightgray' stroke-width='2'/%3E%3Cpolygon points='190,60 100,110 100,220 190,170' fill='none' stroke='lightgray' stroke-width='2'/%3E%3C/svg%3E");
    background-size: 180px 210px;
  }
}

/* 
---break--- */
/* 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
